@import "tailwindcss";

@layer components {
  .gradient-border {
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-image: linear-gradient(90deg, #28e097 26%, #19c2a6 81%) 1;
    border-radius: 0.5rem; /* same as rounded-lg */
  }

  body {
    font-family: "Montserrat", sans-serif;
  }
  .active {
    background: linear-gradient(90deg, #28e097 26%, #19c2a6 81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .section-hidden {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease-out;
  }

  .section-visible {
    opacity: 1;
    transform: translateY(0);
  }
}
